@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-green-zzz: #d8fa00;
  --text-green-zzz-readable: #b8d400;
}

.text-stroke-black {
  -webkit-text-stroke: 2px black;
}

.bg-green-zzz {
  background-color: var(--bg-green-zzz);
}

.text-green-zzz {
  color: var(--bg-green-zzz);
}

.text-green-zzz-readable {
  color: var(--text-green-zzz-readable);
}

.neon-text {
  color: var(--bg-green-zzz);
  -webkit-text-stroke: 1px rgba(0,0,0,0.95);
}
