@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --bg-green-zzz: #d8fa00;
}

body {
  margin: 0;
  min-height: 100vh;
}

.bg-green-zzz {
  background-color: var(--bg-green-zzz);
}

.text-green-zzz {
  color: var(--bg-green-zzz);
}
