@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-green-zzz: #d8fa00;
  --text-green-zzz-readable: #b8d400;
}

/* Adds a black stroke effect to text using multiple text-shadow layers. */
/* Inspired by: https://stackoverflow.com/questions/75241753/text-stroke-goes-through-itself-while-using-tailwind-css */
.text-stroke-black {
  text-shadow: 
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black,
    -2px 0 0 black,
    2px 0 0 black,
    0 -2px 0 black,
    0 2px 0 black;
}

.bg-green-zzz {
  background-color: var(--bg-green-zzz);
}

.text-green-zzz {
  color: var(--bg-green-zzz);
}

.text-green-zzz-readable {
  color: var(--text-green-zzz-readable);
}

.neon-text {
  color: var(--bg-green-zzz);
  text-shadow: 
    -1px -1px 0 rgba(0,0,0,0.95),
    1px -1px 0 rgba(0,0,0,0.95),
    -1px 1px 0 rgba(0,0,0,0.95),
    1px 1px 0 rgba(0,0,0,0.95),
    -1px 0 0 rgba(0,0,0,0.95),
    1px 0 0 rgba(0,0,0,0.95),
    0 -1px 0 rgba(0,0,0,0.95),
    0 1px 0 rgba(0,0,0,0.95);
}
